#remote{
  position:relative;
  margin:10px 0px;
  background-color: #fff;
  border: 2px solid #ddd;
  height:550px;

}

#remote:after{
  content:"Remote Repository";
  position: absolute;
  top:1px;
  left:-1px;
  padding:3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color:#9da0a4;
}

#local{
  position:relative;
  margin:10px 0px;
  background-color: #fff;
  border: 2px solid #ddd;
  height:550px;
}

#local:after{
  content:"Local Repository";
  position: absolute;
  top:1px;
  left:-1px;
  padding:3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color:#9da0a4;
}

#localFile{
  position:relative;
  margin:10px 0px;
  background-color: #fff;
  border: 2px solid #ddd;
  height:550px;
}

#localFile:after{
  content:"Local File System";
  position: absolute;
  top:1px;
  left:-1px;
  padding:3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color:#9da0a4;
}

#filecontainer{
    margin:5px;
    margin-top:20px;
}

.single_file{
    border-radius: 3px;
    width:40%;
    padding:3px;
    margin:3px 13px;
    border: 1px solid #ddd;
    font-weight: bold;
    text-align: center;
}

.unadd{
  color:#9da0a4;
}

#conmandLine{
  background-color: #000;
  border-radius: 4px;
  height:90px;
}

#addfile{
  margin-top:40px;
}

#conmandLineContainer{
    margin:5px;
}

#alertBox{
    margin:5px auto;
    width:60%;
}
